.s-hidden
  visibility hidden
  padding-right 10px
.select
  cursor pointer
  display inline-block
  position relative
  width 170px
  height 24px
  line-height 20px
.styledSelect
   position absolute
   top 0
   right 0
   bottom 0
   left 0
   background-color white
   padding-top 0
   padding-bottom 0
   padding-left 15px
   padding-right 30px
   font-size 12px
   border 1px solid #a1dab2
   &:after
     content ""
     background: url('../images/sprite.png') no-repeat -159px -9px;
     width: 11px;
     height: 4px;
     position absolute
     top 9px
     right 6px
.styledSelect:active,
.styledSelect.active
  background-color #eee
  border-color $green
.options
  display none
  position absolute
  top 100%
  right 0
  left 0
  z-index 999
  margin 0
  padding 0
  list-style none
  border 1px solid $green
  background-color white
  border-top none
  li
    padding 0 6px
    margin 0 0
    padding 0 15px
    font-size 12px
    &:hover
      background-color $green
      color white