$black = #262626
$blue = #2d95bf
$blue-light = #3eb5f1
$blue-dark = #082e41
$green = #4eba6f
$red = #da2536
$online = #76e608
$violet = #897dcd
$yellow = #e4c335
$white = #fff
$gray = #b1b3b5
/* Text */
$gray-text = #484848
/* Border */
$gray-bd = #e2e2e2
$green-bd = #9cb843
/* RGBA */
$yellow-rgba = rgba(240, 196, 25, .52)
$blue-rgba = rgba(45, 149, 191, .52)
$green-rgba = rgba(78, 186, 111, .52)
$black-rgba = rgba(0, 0, 0, .6)
/* Backgrounds */
$yellow-bg = #fff3c2
$gray-bg = #f5f5f5
$green-bg = #dcf6e4
$blue-light-bg = #ebf5fb