doctype html
html
  head
    title Статьи - Последние
    include includes/head
  body
    .container
      include includes/header
      include includes/sidebar-article
      main
        //- a(href="#").desktop-version ПЕРЕЙТИ НА ПОЛНУЮ ВЕРСИЮ САЙТА
        section.content
          .spec-projects.articles-list
            .custom-select
              select
                option выберите категорию
                option категория №1
                option категория №2
                option категория №3
                option категория №4
            h3.headling ПОСЛЕДНИЕ СТАТЬИ
            .projects-list
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
      include includes/fixed-nav
    include includes/scripts
