doctype html
html
  head
    title Статьи - Внутрення
    include includes/head
  body
    .container
      include includes/header
      include includes/sidebar-article
      main
        //- a(href="#").desktop-version ПЕРЕЙТИ НА ПОЛНУЮ ВЕРСИЮ САЙТА
        section.content
          .lead-article(style="background-image: url(../images/content/article-lead.png)").shadow
            .title
              .helper
                h3(style="color: #fff") Ұлттық қауіпсіздіктің негізгі тірегі – Қазақстан армиясы
          article.wr
            h4 В преддверии 8 Марта интернет-проект Ел.кз продолжает знакомить своих читателей с казахстанками, которые добились успеха в разных сферах деятельности. Героиней сегодняшнего материала стала Дана МУКУШЕВА - студентка <u>Massachusetts Institute of Technology</u><br/><br/><br/>
            p: b - Дана, расскажите о себе? Как прошли ваши школьные годы?<br/>
            p
              img(style="float: right" alt="" src="../images/content/article-3.png")
              | Большую часть своей школьной жизни я провела в математико-экономическом лицее №1 города Астаны, где я обучалась с 1 по 9 классы. Это была хорошая школа с сильной базой знаний и прекрасными учителями, которые и привили мне любовь к математике, физике и литературе. Родители старались воспитать меня разносторонним человеком, водили в музыкальную школу, несмотря на мое нежелание, секции иностранных языков и тому подобное. Интересно, что именно при поступлении в MIT я поняла всю важность и дальновидность их действий, так как помимо отличных оценок учитывалась разносторонность абитуриента. После 9-го класса я перешла в РСФМСШИ им О. Жаутыкова, которую и закончила со знаком «Алтын Белгі». Мне хотелось испытать себя, смогу ли я учиться в сильнейшем физмате страны? Это оказалось нелегко, все ребята были очень умны и трудолюбивы, и приходилось вкладывать все свои силы. В РСФМСШИ я участвовала в олимпиадах и научных соревнованиях, и это укоренило во мне конкурентоспособный дух и уверенность. Физмат научил меня много работать, уроки математики развивали аналитические способности, и впервые я начала задумываться о профессии в технической сфере.
            p: b - Дана, расскажите о себе? Как прошли ваши школьные годы?<br/>
            p
              img(style="float: left" alt="" src="../images/content/article-3.png")
              | Большую часть своей школьной жизни я провела в математико-экономическом лицее №1 города Астаны, где я обучалась с 1 по 9 классы. Это была хорошая школа с сильной базой знаний и прекрасными учителями, которые и привили мне любовь к математике, физике и литературе. Родители старались воспитать меня разносторонним человеком, водили в музыкальную школу, несмотря на мое нежелание, секции иностранных языков и тому подобное. Интересно, что именно при поступлении в MIT я поняла всю важносБольшую часть своей школьной жизни я провела в математико-экономическом лицее №1 города Астаны, где я обучалась с 1 по 9 классы. Это была хорошая школа с сильной базой знаний и прекрасными учителями, которые и привили мне любовь к математике, физике и литературе. Родители старались воспитать меня разносторонним человеком, водили в музыкальную школу, несмотря на мое нежелание, секции иностранных языков и тому подобное. Интересно, что именно при поступлении в MIT я поняла всю важносБольшую часть своей школьной жизни я провела в математико-экономическом лицее №1 города Астаны, где я обучалась с 1 по 9 классы. Это была хорошая школа с сильной базой знаний и прекрасными учителями, которые и привили мне любовь к математике, физике и литературе. Родители старались воспитать меня разносторонним человеком, водили в музыкальную школу, несмотря на мое нежелание, секции иностранных языков и тому подобное. Интересно, что именно при поступлении в MIT я поняла всю важносБольшую часть своей школьной жизни я провела в математико-экономическом лицее №1 города Астаны, где я обучалась с 1 по 9 классы. Это была хорошая школа с сильной базой знаний и прекрасными учителями, которые и привили мне любовь к математике, физике и литературе. Родители старались воспитать меня разносторонним человеком, водили в музыкальную школу, несмотря на мое нежелание, секции иностранных языков и тому подобное. Интересно, что именно при поступлении в MIT я поняла всю важность и дальновидность их действий, так как помимо отличных оценок учитывалась разносторонность абитуриента. После 9-го класса я перешла в РСФМСШИ им О. Жаутыкова, которую и закончила со знаком «Алтын Белгі». Мне хотелось испытать себя, смогу ли я учиться в сильнейшем физмате страны? Это оказалось нелегко, все ребята были очень умны и трудолюбивы, и приходилось вкладывать все свои силы. В РСФМСШИ я участвовала в олимпиадах и научных соревнованиях, и это укоренило во мне конкурентоспособный дух и уверенность. Физмат научил меня много работать, уроки математики развивали аналитические способности, и впервые я начала задумываться о профессии в технической сфере.


          .user-comments.wr
            section
              .header
                h3.headling Комментарии
                .custom-select
                  select
                    option сначала новые
                    option сначала старые
              .post-comment
                .user.online
                  a(href="#" style="background-image: url(../images/content/user-icon.png)")
                form
                  textarea.inp-text(placeholder="присоедениться к обсуждению")
                  .bottom-form
                    .upload-file
                      span Прикрепить
                      input(type="file" name="photo")
                    .send: input(type="submit" value="Отправить").inp-submit
              .user-comments-list
                .item
                  .user.busy
                    a(href="#" style="background-image: url(../images/content/userpics/3.png)")
                  section
                    .header
                      a(href="#").user-name Батыр
                      span.date 3 месяца назад
                    .body Сұхбат өте өзекті мәселелер төңірегінде орбиген. Жастарды искерликке шақыратын, қалай табысқа жетугеболатынын көрсететін немесе ғылым изденуге қызықтырыпбағдарламалар керекті. Теледидар шоу бағдарламаларға толы, сондықтан жастардың кобшилиги әнші немесе шоу мен болуды армандайды. Бизде жастарға насихат жетіспеуде деп ойлаймын.
                    .footer
                      .like: a(href="#") 15
                      .dislike: a(href="#") 2
                      .share: a(href="#") 3
      include includes/fixed-nav
    include includes/scripts
