doctype html
html
  head
    title Курсы
    include includes/head
  body
    .container
      include includes/header
      main
        section.content
          .courses.wr
            a(href="#").item.i-1: .title: .helper ADOBE PHOTOSHOP CS6
            a(href="#").item.i-2: .title: .helper INTERNET
            a(href="#").item.i-3: .title: .helper ADOBE AFTER EFFECTS CS6
            a(href="#").item.i-4: .title: .helper ADOBE DREAMWEAVER CS6
            a(href="#").item.i-5: .title: .helper LINUX
            a(href="#").item.i-6: .title: .helper ADOBE FLAASH CS6
            a(href="#").item.i-7: .title: .helper JAVA БАҒДАРЛАМАЛАУ ТІЛІ
            a(href="#").item.i-8: .title: .helper ИНТЕРНЕТ РЕСУРСТАРЫН ҚҰРУ
            a(href="#").item.i-9: .title: .helper БІЛІМ БЕРУГЕ АРНАЛҒАН<br/>БАҒДАРЛАМАЛАР МЕН ҚОСЫМШАЛАР
            a(href="#").item.i-10: .title: .helper ИНТЕРАКТИВТІ ҚАЗАҚ ТІЛІ
            a(href="#").item.i-11: .title: .helper HTML/CSS ТІЛДЕРІ
            a(href="#").item.i-12: .title: .helper MICROSOFT EXCEL 2010
            a(href="#").item.i-13: .title: .helper WINDOWS SERVER
            a(href="#").item.i-14: .title: .helper АҚПАРАТТЫҚ ТЕХНОЛОГИЯЛАР<br/>НЕГІЗДЕРІ
      include includes/fixed-nav
    include includes/scripts
