doctype html
html
  head
    title Сообщества - Главная
    include includes/head
  body
    .container
      include includes/header
      include includes/sidebar-profile-images-logos
      main
        section.content
          .images-albums.wr
            h2.headling ПОСЛЕДНИЕ ДОБАВЛЕННЫЕ ФОТОАЛЬБОМЫ
            .lead-photos
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
      include includes/fixed-nav
    include includes/scripts
