doctype html
html
  head
    title Главная
    include includes/head
  body
    .container
      include includes/header
      include includes/sidebar
      main
        a(href="#").desktop-version ПЕРЕЙТИ НА ПОЛНУЮ ВЕРСИЮ САЙТА
        section.content
          .lead-image(style="background-image: url(../images/content/lead-image.jpg)")
          .lead-news.wr
            h2.headling Избранные новости
            .single-carousel
              .item
                .news-item
                  a(href="#").tag.yellow Ассамблея
                  a(href="#").main-link
                    .title: span Литовцы в Казахстане: мир, согласие и дружба
                    .image(style="background-image: url(../images/content/news/1.jpg)")
                .news-item
                  a(href="#").tag.blue Ғылым
                  a(href="#").main-link
                    .title: span Уникальные лекции обладателей Нобелевских премий.
                    .image(style="background-image: url(../images/content/news/2.jpg)")
                .news-item
                  a(href="#").tag.blue Ғылым
                  a(href="#").main-link
                    .title: span Арман СУЛЕЙМЕНОВ: «Призываю молодежь прославить Казахстан на...
                    .image(style="background-image: url(../images/content/news/3.jpg)")
                .news-item
                  a(href="#").tag.green ҚР Конституциясына 20 жыл
                  a(href="#").main-link
                    .title: span «Работа над проектом Конституции» - отрывок из книги Президента...
                    .image(style="background-image: url(../images/content/news/4.jpg)")
                .news-item
                  a(href="#").tag.yellow Ассамблея
                  a(href="#").main-link
                    .title: span Литовцы в Казахстане: мир, согласие и дружба
                    .image(style="background-image: url(../images/content/news/1.jpg)")
                .news-item
                  a(href="#").tag.blue Ғылым
                  a(href="#").main-link
                    .title: span Уникальные лекции обладателей Нобелевских премий.
                    .image(style="background-image: url(../images/content/news/2.jpg)")
                .news-item
                  a(href="#").tag.blue Ғылым
                  a(href="#").main-link
                    .title: span Арман СУЛЕЙМЕНОВ: «Призываю молодежь прославить Казахстан на...
                    .image(style="background-image: url(../images/content/news/3.jpg)")
                .news-item
                  a(href="#").tag.green ҚР Конституциясына 20 жыл
                  a(href="#").main-link
                    .title: span «Работа над проектом Конституции» - отрывок из книги Президента...
                    .image(style="background-image: url(../images/content/news/4.jpg)")
              .item
                .news-item
                  a(href="#").tag.green ҚР Конституциясына 20 жыл
                  a(href="#").main-link
                    .title: span «Работа над проектом Конституции» - отрывок из книги Президента...
                    .image(style="background-image: url(../images/content/news/4.jpg)")
                .news-item
                  a(href="#").tag.blue Ғылым
                  a(href="#").main-link
                    .title: span Арман СУЛЕЙМЕНОВ: «Призываю молодежь прославить Казахстан на...
                    .image(style="background-image: url(../images/content/news/3.jpg)")
                .news-item
                  a(href="#").tag.green ҚР Конституциясына 20 жыл
                  a(href="#").main-link
                    .title: span «Работа над проектом Конституции» - отрывок из книги Президента...
                    .image(style="background-image: url(../images/content/news/4.jpg)")
                .news-item
                  a(href="#").tag.green Ғылым
                  a(href="#").main-link
                    .title: span Арман СУЛЕЙМЕНОВ: «Призываю молодежь прославить Казахстан на...
                    .image(style="background-image: url(../images/content/news/3.jpg)")
                .news-item
                  a(href="#").tag.yellow Ассамблея
                  a(href="#").main-link
                    .title: span Литовцы в Казахстане: мир, согласие и дружба
                    .image(style="background-image: url(../images/content/news/3.jpg)")
          .lead-calendar.wr
            h2.headling Календарь события
            .calendar
              .calendar-trigger
            .calendar-events
              .event
                .title Мозаичный дренаж — актуальная национальная задача
                .description Как следует из закона сохранения массы и энергии, бактерия методологически вызывает многофазный профиль.
              .event
                .title Оппортунический импульс в XXI веке
                .description Мышление понимает психоанализ. Автоматизм аннигилирует закон, здесь описывается централизующий процесс или создание нового центра личности. Индивидуальность доступна.
              .event
                .title Почему недостижимо точечное воздействие?
                .description Пул лояльных изданий отталкивает потребительский инструмент маркетинга. Ретроконверсия национального наследия откровенно цинична
          .lead-projects.wr
            h2.headling Спец. проекты
            .my-flipster
              ul
                li
                  a(href="#")
                    .description
                      p Год ассамблеи <span>Народов Казахстана</span>
                    .image(style="background-image:url(../images/content/projects/3.jpg)")
                li
                  a(href="#")
                    .description
                      p 550 лет<span>Казахскому Ханству</span>
                    .image(style="background-image:url(../images/content/projects/2.jpg)")
                li
                  a(href="#")
                    .description
                      p Сделано<span>В Казахстане</span>
                    .image(style="background-image:url(../images/content/projects/1.jpg)")
                li
                  a(href="#")
                    .description
                      p 70 лет<span>Великой Отечественной войне</span>
                    .image(style="background-image:url(../images/content/projects/4.jpg)")
                li
                  a(href="#")
                    .description
                      p 20 лет<span>конституции</span>
                    .image(style="background-image:url(../images/content/projects/5.jpg)")
                li
                  a(href="#")
                    .description
                      p Год ассамблеи <span>Народов Казахстана</span>
                    .image(style="background-image:url(../images/content/projects/3.jpg)")
                li
                  a(href="#")
                    .description
                      p 550 лет<span>Казахскому Ханству</span>
                    .image(style="background-image:url(../images/content/projects/2.jpg)")
                li
                  a(href="#")
                    .description
                      p Сделано<span>В Казахстане</span>
                    .image(style="background-image:url(../images/content/projects/1.jpg)")
                li
                  a(href="#")
                    .description
                      p 70 лет<span>Великой Отечественной войне</span>
                    .image(style="background-image:url(../images/content/projects/4.jpg)")
                li
                  a(href="#")
                    .description
                      p 20 лет<span>конституции</span>
                    .image(style="background-image:url(../images/content/projects/5.jpg)")
          .lead-video.wr
            h2.headling Видео
            .fourth-carousel
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Лучшие моменты в хоккее Казахстана
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Видео хроника Алматы
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/4.jpg)")
                  .title Это видео взорвало Казнет
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/4.jpg)")
                  .title Это видео взорвало Казнет
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
          .lead-photos.wr
            h2.headling Фото
            .fourth-carousel
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/1.jpg)")
                  .title Құрмаш Махан
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/2.jpg)")
                  .title Лучшие моменты в хоккее Казахстана
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/3.jpg)")
                  .title Видео хроника Алматы
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/4.jpg)")
                  .title Это видео взорвало Казнет
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
              .item
                a(href="#")
                  .image(style="background-image:url(../images/content/items/4.jpg)")
                  .title Это видео взорвало Казнет
                .footer
                  .viewed-icon: span 14
                  .comments-icon: span 5
                  .likes-icon: span 2
          .lead-tabs.wr
            .lead-tabs-mobile-triggers
              a(href="#").article.current Статьи
              a(href="#").blog Блоги
            .lead-articles
              h2.headling Статьи
              .header
                span: a(href="#").new.current новые
                span: a(href="#").top топ
              .list
                .new-list
                  .item
                    a(href="#")
                      p Правда, специалисты отмечают, что тактика выстраивания отношений с коммерсчекими агентами тормозит межличностный рекламоноситель.
                    .footer
                      .viewed-icon.gray 23
                      .comments-icon.gray 6
                  .item
                    a(href="#")
                      p Искусство медиапланирования раскручивает показ баннера, опираясь на опыт западных коллег.
                    .footer
                      .viewed-icon.gray 32
                      .comments-icon.gray 5
                  .item
                    a(href="#")
                      p Воздействие на потребителя отталкивает экспериментальный показ баннера, не считаясь с затратами.
                    .footer
                      .viewed-icon.gray 1
                      .comments-icon.gray 2
                  .item
                    a(href="#")
                      p  Контент, не меняя концепции, изложенной выше, поддерживает формат события, осознав маркетинг как часть производства.
                    .footer
                      .viewed-icon.gray 14
                      .comments-icon.gray 0
                .top-list
                  .item
                    a(href="#")
                      p  Контент, не меняя концепции, изложенной выше, поддерживает формат события, осознав маркетинг как часть производства.
                    .footer
                      .viewed-icon.gray 1244
                      .comments-icon.gray 987
                  .item
                    a(href="#")
                      p Воздействие на потребителя отталкивает экспериментальный показ баннера, не считаясь с затратами.
                    .footer
                      .viewed-icon.gray 1000
                      .comments-icon.gray 533
                  .item
                    a(href="#")
                      p Правда, специалисты отмечают, что тактика выстраивания отношений с коммерсчекими агентами тормозит межличностный рекламоноситель.
                    .footer
                      .viewed-icon.gray 900
                      .comments-icon.gray 623
                  .item
                    a(href="#")
                      p Искусство медиапланирования раскручивает показ баннера, опираясь на опыт западных коллег.
                    .footer
                      .viewed-icon.gray 762
                      .comments-icon.gray 10
            .lead-blogs
              h2.headling Блоги
              .header
                span: a(href="#").new.current новые
                span: a(href="#").top топ
              .list
                .new-list
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/1.png)")
                    a(href="#")
                      p Правда, специалисты отмечают, что тактика выстраивания отношений с коммерсчекими агентами тормозит межличностный рекламоноситель.
                    .footer
                      .viewed-icon.gray 23
                      .comments-icon.gray 6
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/3.png)")
                    a(href="#")
                      p Искусство медиапланирования раскручивает показ баннера, опираясь на опыт западных коллег.
                    .footer
                      .viewed-icon.gray 32
                      .comments-icon.gray 5
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                    a(href="#")
                      p Воздействие на потребителя отталкивает экспериментальный показ баннера, не считаясь с затратами.
                    .footer
                      .viewed-icon.gray 1
                      .comments-icon.gray 2
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/4.png)")
                    a(href="#")
                      p  Контент, не меняя концепции, изложенной выше, поддерживает формат события, осознав маркетинг как часть производства.
                    .footer
                      .viewed-icon.gray 14
                      .comments-icon.gray 0
                .top-list
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                    a(href="#")
                      p Воздействие на потребителя отталкивает экспериментальный показ баннера, не считаясь с затратами.
                    .footer
                      .viewed-icon.gray 1
                      .comments-icon.gray 2
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                    a(href="#")
                      p  Контент, не меняя концепции, изложенной выше, поддерживает формат события, осознав маркетинг как часть производства.
                    .footer
                      .viewed-icon.gray 14
                      .comments-icon.gray 0
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                    a(href="#")
                      p Правда, специалисты отмечают, что тактика выстраивания отношений с коммерсчекими агентами тормозит межличностный рекламоноситель.
                    .footer
                      .viewed-icon.gray 23
                      .comments-icon.gray 6
                  .item
                    .user
                      a(href="#" style="background-image: url(../images/content/userpics/3.png)")
                    a(href="#")
                      p Искусство медиапланирования раскручивает показ баннера, опираясь на опыт западных коллег.
                    .footer
                      .viewed-icon.gray 32
                      .comments-icon.gray 5
          .lead-review.wr
            h2.headling Корпоративные блоги
            .fourth-carousel
              .item
                .user-details
                  .user
                    a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                  .user-name: a(href="#") Жанна Масимова
                a(href="#")
                  .image(style="background-image: url(../images/content/items/3.jpg)")
                  p Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба
                .footer
                  .viewed-icon.gray 14
                  .comments-icon.gray 5
              .item
                .user-details
                  .user
                    a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                  .user-name: a(href="#") Жанна Масимова
                a(href="#")
                  .image(style="background-image: url(../images/content/items/3.jpg)")
                  p Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба
                .footer
                  .viewed-icon.gray 14
                  .comments-icon.gray 5
              .item
                .user-details
                  .user
                    a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                  .user-name: a(href="#") Жанна Масимова
                a(href="#")
                  .image(style="background-image: url(../images/content/items/2.jpg)")
                  p Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба
                .footer
                  .viewed-icon.gray 14
                  .comments-icon.gray 5
              .item
                .user-details
                  .user
                    a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                  .user-name: a(href="#") Жанна Масимова
                a(href="#")
                  .image(style="background-image: url(../images/content/items/1.jpg)")
                  p Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба
                .footer
                  .viewed-icon.gray 14
                  .comments-icon.gray 5
              .item
                .user-details
                  .user
                    a(href="#" style="background-image: url(../images/content/userpics/2.png)")
                  .user-name: a(href="#") Жанна Масимова
                a(href="#")
                  .image(style="background-image: url(../images/content/items/1.jpg)")
                  p Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба Литовцы в Казахстане: мир, согласие и дружба
                .footer
                  .viewed-icon.gray 14
                  .comments-icon.gray 5
          .our-projects.wr
            h2.headling Наши проекты
            .fifth-carousel
              .item: a(href="#"): img(src="../images/content/partners/1.jpg", alt="")
              .item: a(href="#"): img(src="../images/content/partners/2.jpg", alt="")
              .item: a(href="#"): img(src="../images/content/partners/3.jpg", alt="")
              .item: a(href="#"): img(src="../images/content/partners/5.jpg", alt="")
              .item: a(href="#"): img(src="../images/content/partners/4.jpg", alt="")
              .item: a(href="#"): img(src="../images/content/partners/1.jpg", alt="")
      include includes/fixed-nav
    include includes/scripts
