doctype html
html
  head
    title Профиль
    include includes/head
  body
    .container
      include includes/header
      include includes/sidebar-profile
      main
        section.content
          .profile
            .profile-menu
              .profile-lead
                .image: a(href="#" style="background-image:url(../images/content/user-icon-large.png)")
                .name: a(href="#") Жанар Дугалова
                .status.online Онлайн
                .load-userpic: a(href="#") Изменить аватар
              ul
                li: a(href="#").icon.messages Мои сообщения
                li: a(href="#").icon.friends Мои друзья
                li: a(href="#").icon.blog Мой блог
                li: a(href="#").icon.images Мои фотоальбомы
                li: a(href="#").icon.videos Мои видеозаписи
                li: a(href="#").icon.audios Мои аудиозаписи
                li: a(href="#").icon.pref Настройка профиля
            .profile-main
              .profile-lead
                .image: a(href="#" style="background-image:url(../images/content/user-icon-large.png)")
                .name: a(href="#") Жанар Дугалова
                .status.online Онлайн
                .load-userpic: a(href="#") Изменить аватар
              .profile-articles
                .group-list.wr
                  .total-post  135 записей
                  .list
                    .item
                      a(href="#" style="background-image: url(../images/content/groups/list/5.jpg)").image.blue
                      .info
                        a(href="#").title Астана – арман қала
                        .intro Астана (1998 жылдың 6<br/>мамырына дейін – Ақмола)<br/>Қазақстан Республикасы<br/>Президентінің 1997 жылғы 20
                        .footer
                          .date 11.12.2015, 02:24
                          .viewed-icon-inner 123
                          .comments-icon-inner: a(href="#") 123
                    .item
                      a(href="#" style="background-image: url(../images/content/groups/list/6.jpg)").image.green
                      .info
                        a(href="#").title Сервис по заказу еды LunchTime.kz
                        .intro Что такое LunchTime? LunchTime.kz – сервис быстрого и удобного заказа вкусной еды. Мы собрали все предложения лучших ресторанов вашего города. LunchTime.kz - это очень быстро, удобно и вкусно! Наши преимущества: Интуитивно понятный и удобный интерфейс (минимум кликов и все в визуальной доступности)
                        .footer
                          .date 11.12.2015, 02:24
                          .viewed-icon-inner 123
                          .comments-icon-inner: a(href="#") 123
                    .item
                      a(href="#" style="background-image: url(../images/content/groups/list/3.jpg)").image
                      .info
                        a(href="#").title Ел таңдаған Елбасы
                        .intro Нұрсұлтан Назарбаев ҚР Президентi болып тiркелдi Бүгiн ҚР Орталық сайлау комиссиясы Нұрсұлтан Назарбаевты ҚР Президентi ретiнде тiркедi. «26 сәуiрдегi кезектен тыс сайлауда сайланған ҚР Президентiн тiркеу туралы қаулы жобасын ұсынып отырмыз. Қаулы бойынша облыстық, Астана және Алматы қалалық сайла…
                        .footer
                          .date 11.12.2015, 02:24
                          .viewed-icon-inner 123
                          .comments-icon-inner: a(href="#") 123
                    .item
                      a(href="#" style="background-image: url(../images/content/groups/list/4.jpg)").image
                      .info
                        a(href="#").title Мы - Казахстанцы!
                        .intro Мой Казахстан! Люблю тебя я За красоту твою, широкие просторы. Мой Казахстан! Велик ты и могуч, Певуч язык твой, величавы горы! Пусть солнце льется на твои просторы В богатстве недр и в золоте зерна. Пусть высится, как снеговые горы,  Для добрых дел Отчизна, Родина моя!
                        .footer
                          .date 11.12.2015, 02:24
                          .viewed-icon-inner 123
                          .comments-icon-inner: a(href="#") 123
                    .item
                      a(href="#" style="background-image: url(../images/content/groups/list/6.jpg)").image.green
                      .info
                        a(href="#").title Сервис по заказу еды LunchTime.kz
                        .intro Что такое LunchTime? LunchTime.kz – сервис быстрого и удобного заказа вкусной еды. Мы собрали все предложения лучших ресторанов вашего города. LunchTime.kz - это очень быстро, удобно и вкусно! Наши преимущества: Интуитивно понятный и удобный интерфейс (минимум кликов и все в визуальной доступности)
                        .footer
                          .date 11.12.2015, 02:24
                          .viewed-icon-inner 123
                          .comments-icon-inner: a(href="#") 123
                    .item
                      a(href="#" style="background-image: url(../images/content/groups/list/3.jpg)").image
                      .info
                        a(href="#").title Ел таңдаған Елбасы
                        .intro Нұрсұлтан Назарбаев ҚР Президентi болып тiркелдi Бүгiн ҚР Орталық сайлау комиссиясы Нұрсұлтан Назарбаевты ҚР Президентi ретiнде тiркедi. «26 сәуiрдегi кезектен тыс сайлауда сайланған ҚР Президентiн тiркеу туралы қаулы жобасын ұсынып отырмыз. Қаулы бойынша облыстық, Астана және Алматы қалалық сайла…
                        .footer
                          .date 11.12.2015, 02:24
                          .viewed-icon-inner 123
                          .comments-icon-inner: a(href="#") 123
                    .item
                      a(href="#" style="background-image: url(../images/content/groups/list/4.jpg)").image
                      .info
                        a(href="#").title Мы - Казахстанцы!
                        .intro Мой Казахстан! Люблю тебя я За красоту твою, широкие просторы. Мой Казахстан! Велик ты и могуч, Певуч язык твой, величавы горы! Пусть солнце льется на твои просторы В богатстве недр и в золоте зерна. Пусть высится, как снеговые горы,  Для добрых дел Отчизна, Родина моя!
                        .footer
                          .date 11.12.2015, 02:24
                          .viewed-icon-inner 123
                          .comments-icon-inner: a(href="#") 123
      include includes/fixed-nav
    include includes/scripts
