doctype html
html
  head
    title Профиль
    include includes/head
  body
    .container
      include includes/header
      include includes/sidebar-profile-videos
      main
        section.content
          .profile
            .profile-menu
              .profile-lead
                .image: a(href="#" style="background-image:url(../images/content/user-icon-large.png)")
                .name: a(href="#") Жанар Дугалова
                .status.online Онлайн
                .load-userpic: a(href="#") Изменить аватар
              ul
                li: a(href="#").icon.messages Мои сообщения
                li: a(href="#").icon.friends Мои друзья
                li: a(href="#").icon.blog Мой блог
                li: a(href="#").icon.images Мои фотоальбомы
                li: a(href="#").icon.videos Мои видеозаписи
                li: a(href="#").icon.audios Мои аудиозаписи
                li: a(href="#").icon.pref Настройка профиля
            .profile-main
              .profile-lead
                .image: a(href="#" style="background-image:url(../images/content/user-icon-large.png)")
                .name: a(href="#") Жанар Дугалова
                .status.online Онлайн
                .load-userpic: a(href="#") Изменить аватар
              .profile-user-info
                .quote Я буду жить и умру на своем посту. Я - меч во тьме; я - Дозорный на Стене; я огонь, который разгоняет холод; я - свет, который приносит рассвет; я - рог, который будит спящих; я - щит, который охраняет царство людей.
                .gender
                  span.title Пол:
                  span женский
                .age
                  span.title Возраст:
                  span 28 лет
                .locate
                  span.title Местожительство:
                  span Казахстан, Акмолинская область, Астана
                .hide.profile-user-info-hidden
                  .gender
                    span.title Пол:
                    span женский
                  .age
                    span.title Возраст:
                    span 28 лет
                  .locate
                    span.title Местожительство:
                    span Казахстан, Акмолинская область, Астана
                  .gender
                    span.title Пол:
                    span женский
                  .age
                    span.title Возраст:
                    span 28 лет
                  .locate
                    span.title Местожительство:
                    span Казахстан, Акмолинская область, Астана
                  .gender
                    span.title Пол:
                    span женский
                  .age
                    span.title Возраст:
                    span 28 лет
                  .locate
                    span.title Местожительство:
                    span Казахстан, Акмолинская область, Астана
                .toggle-info: a(href="#") показать подробную информацию
              .profile-images.wr
                .header
                  .tabs
                    a(href="#" class="all-video current")
                      span мои видео
                      span.total (6)
                .lead-photos.videos
                  .item
                    a(href="#")
                      .image(style="background-image:url(../images/content/items/1.jpg)")
                      .title Құрмаш Махан
                      .lenght 34:01
                    .footer
                      .viewed-icon: span 14
                      .comments-icon: span 5
                      .likes-icon: span 2
                  .item
                    a(href="#")
                      .image(style="background-image:url(../images/content/items/2.jpg)")
                      .title Құрмаш Махан
                      .lenght 34:01
                    .footer
                      .viewed-icon: span 14
                      .comments-icon: span 5
                      .likes-icon: span 2
                  .item
                    a(href="#")
                      .image(style="background-image:url(../images/content/items/3.jpg)")
                      .title Құрмаш Махан
                      .lenght 34:01
                    .footer
                      .viewed-icon: span 14
                      .comments-icon: span 5
                      .likes-icon: span 2
                  .item
                    a(href="#")
                      .image(style="background-image:url(../images/content/items/4.jpg)")
                      .title Құрмаш Махан
                      .lenght 34:01
                    .footer
                      .viewed-icon: span 14
                      .comments-icon: span 5
                      .likes-icon: span 2
                  .item
                    a(href="#")
                      .image(style="background-image:url(../images/content/items/3.jpg)")
                      .title Құрмаш Махан
                      .lenght 34:01
                    .footer
                      .viewed-icon: span 14
                      .comments-icon: span 5
                      .likes-icon: span 2
                  .item
                    a(href="#")
                      .image(style="background-image:url(../images/content/items/2.jpg)")
                      .title Құрмаш Махан
                      .lenght 34:01
                    .footer
                      .viewed-icon: span 14
                      .comments-icon: span 5
                      .likes-icon: span 2

      include includes/fixed-nav
    include includes/scripts
