doctype html
html
  head
    title Спецпроекты
    include includes/head
  body
    .container
      include includes/header
      main
        section.content
          .spec-projects
            .lead-image
              .title Спецпроекты:
              h1 Мәңгілік ел
            .custom-select
              select
                option выберите категорию
                option категория №1
                option категория №2
                option категория №3
                option категория №4
            .projects-list
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/2.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/3.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.
              a(href="#" style="background-image: url(../images/content/projects/1.png)").item
                .title Елбасы ДСҰ-ға кіру жөніндегі келіссөздердің аяқталуына байланысты үндеу жолдады.


      include includes/fixed-nav
    include includes/scripts
