doctype html
html
  head
    title Проекты - Внутренняя
    include includes/head
  body
    .container
      include includes/header
      main
        //- a(href="#").desktop-version ПЕРЕЙТИ НА ПОЛНУЮ ВЕРСИЮ САЙТА
        section.content.full
          .lead-article(style="background-image: url(../images/content/projects/large.png)")
            .title
              .helper
                h3 Ұлттық қауіпсіздіктің негізгі тірегі – Қазақстан армиясы
          .breadcrumbs.wr
            ul
              li: a(href="#") Главная
              li: a(href="#") Спецпроекты
              li: span Ұлттық қауіпсіздіктің негізгі тірегі
          article.wr
            h4 «Жетінші құндылық бұл – еліміздің ұлттық қауіпсіздігі және бүкіләлемдік, өңірлік мәселелерді шешуге жаһандық тұрғыдан қатысуы»<br/><br/>Президент Н.Назарбаев (биылғы жолдауынан)<br/><br/>

            p Естеріңізде болса, Тәуелсіз Мемлекекеттер Достастығын (ТМД) құру туралы 1991 жылғы 21 желтоқсандағы ортақ әскери-стратегиялық кеңістікті және бірыңғай қолбасшылықты сақтау және қолдау туралы сөз болған еді. Алайда, сол жылғы желтоқсанның ортасында Украина президенті, одан соң Әзербайжан мен Молдова президенттері өздерін стратегиялық күштерден басқа, өз республикаларының территориясында тұрған әскердің бас қолбасшысы етіп жариялады. 1992 жылдың басында бірыңғай қолбасшылықты сақтау ғана емес, ТМД елдері Қарулы Күштерін біріктірудің өзі мүмкін емес екендігі белгілі болды. Бұл басқа да бұрынғы одақтас республикаларды дербес армия құруға мәжбүр етті. Міне, осылайша 1992 жылы 7 мамырда Қазақстан Президенті Н.Ә.Назарбаев: «Қазақстан Республикасы Мемлекеттік қорғаныс комитетін Қазақстан Республикасының Қорғаныс министрлігі етіп қайта құру туралы», «Қазақстан Республикасының Қарулы Күштерін құру туралы» және алғашқы қорғаныс министрі етіп генерал полковник (1993 жылдың 9 мамырынан армия генералы) С.Қ.Нұрмағамбетовты тағайындау туралы жарлықтарға қол қойды. Бұл күн Қазақстанның дербес Қарулы Күштерінің құрылған күні болып тарихқа мәңгі өшпестей жазылды.
            p Естеріңізде болса, Тәуелсіз Мемлекекеттер Достастығын (ТМД) құру туралы 1991 жылғы 21 желтоқсандағы ортақ әскери-стратегиялық кеңістікті және бірыңғай қолбасшылықты сақтау және қолдау туралы сөз болған еді. Алайда, сол жылғы желтоқсанның ортасында Украина президенті, одан соң Әзербайжан мен Молдова президенттері өздерін стратегиялық күштерден басқа, өз республикаларының территориясында тұрған әскердің бас қолбасшысы етіп жариялады. 1992 жылдың басында бірыңғай қолбасшылықты сақтау ғана емес, ТМД елдері Қарулы Күштерін біріктірудің өзі мүмкін емес екендігі белгілі болды. Бұл басқа да бұрынғы одақтас республикаларды дербес армия құруға мәжбүр етті. Міне, осылайша 1992 жылы 7 мамырда Қазақстан Президенті Н.Ә.Назарбаев: «Қазақстан Республикасы Мемлекеттік қорғаныс комитетін Қазақстан Республикасының Қорғаныс министрлігі етіп қайта құру туралы», «Қазақстан Республикасының Қарулы Күштерін құру туралы» және алғашқы қорғаныс министрі етіп генерал полковник (1993 жылдың 9 мамырынан армия генералы) С.Қ.Нұрмағамбетовты тағайындау туралы жарлықтарға қол қойды. Бұл күн Қазақстанның дербес Қарулы Күштерінің құрылған күні болып тарихқа мәңгі өшпестей жазылды.
            p Естеріңізде болса, Тәуелсіз Мемлекекеттер Достастығын (ТМД) құру туралы 1991 жылғы 21 желтоқсандағы ортақ әскери-стратегиялық кеңістікті және бірыңғай қолбасшылықты сақтау және қолдау туралы сөз болған еді. Алайда, сол жылғы желтоқсанның ортасында Украина президенті, одан соң Әзербайжан мен Молдова президенттері өздерін стратегиялық күштерден басқа, өз республикаларының территориясында тұрған әскердің бас қолбасшысы етіп жариялады. 1992 жылдың басында бірыңғай қолбасшылықты сақтау ғана емес, ТМД елдері Қарулы Күштерін біріктірудің өзі мүмкін емес екендігі белгілі болды. Бұл басқа да бұрынғы одақтас республикаларды дербес армия құруға мәжбүр етті. Міне, осылайша 1992 жылы 7 мамырда Қазақстан Президенті Н.Ә.Назарбаев: «Қазақстан Республикасы Мемлекеттік қорғаныс комитетін Қазақстан Республикасының Қорғаныс министрлігі етіп қайта құру туралы», «Қазақстан Республикасының Қарулы Күштерін құру туралы» және алғашқы қорғаныс министрі етіп генерал полковник (1993 жылдың 9 мамырынан армия генералы) С.Қ.Нұрмағамбетовты тағайындау туралы жарлықтарға қол қойды. Бұл күн Қазақстанның дербес Қарулы Күштерінің құрылған күні болып тарихқа мәңгі өшпестей жазылды.
            p Естеріңізде болса, Тәуелсіз Мемлекекеттер Достастығын (ТМД) құру туралы 1991 жылғы 21 желтоқсандағы ортақ әскери-стратегиялық кеңістікті және бірыңғай қолбасшылықты сақтау және қолдау туралы сөз болған еді. Алайда, сол жылғы желтоқсанның ортасында Украина президенті, одан соң Әзербайжан мен Молдова президенттері өздерін стратегиялық күштерден басқа, өз республикаларының территориясында тұрған әскердің бас қолбасшысы етіп жариялады. 1992 жылдың басында бірыңғай қолбасшылықты сақтау ғана емес, ТМД елдері Қарулы Күштерін біріктірудің өзі мүмкін емес екендігі белгілі болды. Бұл басқа да бұрынғы одақтас республикаларды дербес армия құруға мәжбүр етті. Міне, осылайша 1992 жылы 7 мамырда Қазақстан Президенті Н.Ә.Назарбаев: «Қазақстан Республикасы Мемлекеттік қорғаныс комитетін Қазақстан Республикасының Қорғаныс министрлігі етіп қайта құру туралы», «Қазақстан Республикасының Қарулы Күштерін құру туралы» және алғашқы қорғаныс министрі етіп генерал полковник (1993 жылдың 9 мамырынан армия генералы) С.Қ.Нұрмағамбетовты тағайындау туралы жарлықтарға қол қойды. Бұл күн Қазақстанның дербес Қарулы Күштерінің құрылған күні болып тарихқа мәңгі өшпестей жазылды.
            p Естеріңізде болса, Тәуелсіз Мемлекекеттер Достастығын (ТМД) құру туралы 1991 жылғы 21 желтоқсандағы ортақ әскери-стратегиялық кеңістікті және бірыңғай қолбасшылықты сақтау және қолдау туралы сөз болған еді. Алайда, сол жылғы желтоқсанның ортасында Украина президенті, одан соң Әзербайжан мен Молдова президенттері өздерін стратегиялық күштерден басқа, өз республикаларының территориясында тұрған әскердің бас қолбасшысы етіп жариялады. 1992 жылдың басында бірыңғай қолбасшылықты сақтау ғана емес, ТМД елдері Қарулы Күштерін біріктірудің өзі мүмкін емес екендігі белгілі болды. Бұл басқа да бұрынғы одақтас республикаларды дербес армия құруға мәжбүр етті. Міне, осылайша 1992 жылы 7 мамырда Қазақстан Президенті Н.Ә.Назарбаев: «Қазақстан Республикасы Мемлекеттік қорғаныс комитетін Қазақстан Республикасының Қорғаныс министрлігі етіп қайта құру туралы», «Қазақстан Республикасының Қарулы Күштерін құру туралы» және алғашқы қорғаныс министрі етіп генерал полковник (1993 жылдың 9 мамырынан армия генералы) С.Қ.Нұрмағамбетовты тағайындау туралы жарлықтарға қол қойды. Бұл күн Қазақстанның дербес Қарулы Күштерінің құрылған күні болып тарихқа мәңгі өшпестей жазылды.
            p На дворе 2015 год и мы живем в мире, где реалистичные компьютерные игры никого не удивят. Каждый год такие игры выходят пачками. Но, среди таких игр выделяются игры, которые становятся ожидаемыми играми и иногда даже выигрывают премию "Самая ожидаемая игра" на разных выставках и конференциях.
            p Первая половина года уже прошла и до конца года нас ждет кучу новинок и интересных видеоигр. Поэтому я решил начать пост-трилогию о самых ожидаемых играх. Вторым постом будет "Самые ожидаемые игры первой половины 2016 года". <b>Давайте, пройдемся по списку :)</b>
            p Анонс этой игры состоялся 10 июня 2013 года, на игровой выставке Е3. Компьютерная игра от третьего лица основанный о серии фильмов <b>"Безумный Макс"</b>. Главным героем игры будет Макс Рокатански, который вынужден выживать в пост-апокалипсическом мире. В игре главным локацием будет пустыня. Безусловно, это один из самых ожидаемых игр в жанре пост-апокалипсис. Релиз игры назначена на <b>1 сентября на платформах PC, XOne, PS4.</b>
            p Детище Хидео Кодзима является стелс-экшеном от третьего лица. В этом году на свет выходит уже пятая часть этой серии. В игровой индустрии это главная гордость Японии. Главным героем игры выступает все тот же Веном Снейк. Пятая часть серии продолжает приключения Биг Босса. Он просыпается в 1984 году после девятилетней комы и начинает расследовать деятельность загадочной организации XOF. Дата выхода игры <b>1 сентября на PS3, PS4, X360, XOne и на РС.</b>
            p Детище Хидео Кодзима является стелс-экшеном от третьего лица. В этом году на свет выходит уже пятая часть этой серии. В игровой индустрии это главная гордость Японии. Главным героем игры выступает все тот же Веном Снейк. Пятая часть серии продолжает приключения Биг Босса. Он просыпается в 1984 году после девятилетней комы и начинает расследовать деятельность загадочной организации XOF. Дата выхода игры <b>1 сентября на PS3, PS4, X360, XOne и на РС.</b>

          .user-comments.wr
            section
              .header
                h3.headling Комментарии
                .custom-select
                  select
                    option сначала новые
                    option сначала старые
              .post-comment
                .user.online
                  a(href="#" style="background-image: url(../images/content/user-icon.png)")
                form
                  textarea.inp-text(placeholder="присоедениться к обсуждению")
                  .bottom-form
                    .upload-file
                      span Прикрепить
                      input(type="file" name="photo")
                    .send: input(type="submit" value="Отправить").inp-submit
              .user-comments-list
                .item
                  .user.busy
                    a(href="#" style="background-image: url(../images/content/userpics/3.png)")
                  section
                    .header
                      a(href="#").user-name Батыр
                      span.date 3 месяца назад
                    .body Сұхбат өте өзекті мәселелер төңірегінде орбиген. Жастарды искерликке шақыратын, қалай табысқа жетугеболатынын көрсететін немесе ғылым изденуге қызықтырыпбағдарламалар керекті. Теледидар шоу бағдарламаларға толы, сондықтан жастардың кобшилиги әнші немесе шоу мен болуды армандайды. Бизде жастарға насихат жетіспеуде деп ойлаймын.
                    .footer
                      .like: a(href="#") 15
                      .dislike: a(href="#") 2
                      .share: a(href="#") 3
      include includes/fixed-nav
    include includes/scripts
