.fl
{
float:left;
}

.fr
{
float: right;
}




.duration
{
    font-size:10px;
    color:#777;
}

.btn.play
{
    background: url('../images/sprite.png') no-repeat -69px -260px;
    width: 13px;
    height: 15px;
}

.btn.pause
{
    background: url('../images/sprite.png') no-repeat -6px -260px;
    width: 12px;
    height: 16px;
}

.btn.paused
{
    background: url('../images/sprite.png') no-repeat -69px -260px;
    width: 13px;
    height: 15px;
}
.btn.audio-prev,
.btn.audio-next,
.audio-prev-button,
.audio-next-button{
    display inline-block
}
.btn.audio-prev,
.audio-prev-button{
    background: url('../images/sprite.png') no-repeat -22px -260px;
    width: 17px;
    height: 12px;
}
.btn.audio-next,
.audio-next-button{
    background: url('../images/sprite.png') no-repeat -46px -260px;
    width: 16px;
    height: 12px;
}
div.player
{
    width:100%;
    height:5px;
    margin-top:0;
}



.item .title
{
    -vertical-align:middle;
}

.item .btn
{
    display:inline;
    float:left;
    margin-right:5px;
    cursor:pointer;
}
.audio-next-button,
.audio-prev-button{
    display none
}
.current .audio-next-button,
.current .audio-prev-button{
    display inline-block
}
.bs{
    float left
}
