nav.fixed-nav
  ul
    li.yellow.current: a(href="#")
      span главная
      span.ico-home.ico
    li.blue: a(href="#")
      span личное
      span.ico-personal.ico
    li.red: a(href="#")
      span знание
      span.ico-knowledge.ico
    li.yellow
      a(href="#")
        span спецпроекты
        span.ico-projects.ico
      ul
        li: a(href="#") Все спецпроекты
        li: a(href="#") Образование
        li: a(href="#") Наука и технология
        li: a(href="#") Здоровье
        li: a(href="#") Спорт
        li: a(href="#") Личность
        li: a(href="#") История
        li: a(href="#") Культура
        li: a(href="#") Интервью
    li.green
      a(href="#")
        span статьи
        span.ico-articles.ico
      ul
        li: a(href="#") Все статьи
        li: a(href="#") Образование
        li: a(href="#") Наука и технология
        li: a(href="#") Здоровье
        li: a(href="#") Спорт
        li: a(href="#") Личность
        li: a(href="#") История
        li: a(href="#") Культура
        li: a(href="#") Интервью
    li.yellow: a(href="#")
      span сообщества
      span.ico-community.ico
    li.red: a(href="#")
      span блог
      span.ico-blog.ico
    li.blue: a(href="#")
      span видео
      span.ico-video.ico
    li.yellow: a(href="#")
      span аудио
      span.ico-audio.ico
    li.green: a(href="#")
      span фото
      span.ico-images.ico
    li.blue: a(href="#")
      span игры
      span.ico-apps.ico