aside.sidebar
  .popular-images
    h2.headling.small.yellow Популярные аудиозаписи
    #mediawrapper
      audio(id="mejs" type="audio/mp3" controls="controls")
        Source(src="http://www.mediaelementjs.com/media/AirReview-Landmarks-02-ChasingCorporate.mp3" title="Air Review - Chasing Corporate")
        Source(src="http://www.mediaelementjs.com/media/AirReview-Landmarks-04-AllBecauseYoureMine.mp3" title="Air Review - All Because You're Mine")
        Source(src="http://k003.kiwi6.com/hotlink/9ucf2r3yo6/chasing_cars_cover_chris_-_for_hollie_s_cover.mp3" title="Chris - Chasing Cars(Cover)")
        Source(src="http://k004.kiwi6.com/hotlink/vvy55kc7c5/new_distance.mp3" title="SmallCityLights - New Distance")
        Source(src="http://k003.kiwi6.com/hotlink/0c2q7je6rn/i_got_you.mp3" title="Jamie Ray - I got you")
        Source(src="http://k006.kiwi6.com/hotlink/081qjgl6pt/when_you_re_gone_cover_chris_.mp3" title="Chris - When You're Gone Cover")
  .popular-tags
    h2.headling.small.yellow Популярные теги
    ul
      li: a(href="#") #қазақәндері
      li: a(href="#") #ҚайратНұртас
      li: a(href="#") #дәстүрліәндер
      li: a(href="#") #күйлер
      li: a(href="#") #МейрамбекБеспаев
      li: a(href="#") #домбыра
      li: a(href="#") #қазақәндері
      li: a(href="#") #ҚайратНұртас
      li: a(href="#") #дәстүрліәндер
      li: a(href="#") #күйлер
      li: a(href="#") #МейрамбекБеспаев
      li: a(href="#") #домбыра
  .footer
    .socials
      a(href="#").vk
      a(href="#").facebook
      a(href="#").twitter
      a(href="#").instagram
    .copyright
      a(href="/").footer-logo
      span © АО "Казконтент", 2015



