aside.sidebar
  .sidebar-groups
    .popular-posts
      h3.headling.red Популярные посты
      .list
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/1.jpg)")
          .title: a(href="#") Нұрлы жол — болашаққа бастар жол
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/2.jpg)")
          .title: a(href="#") El.kz әлеуметтік желісі тексеру
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/3.jpg)")
          .title: a(href="#") Бірлігіміз жарасқан!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/4.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/5.jpg)")
          .title: a(href="#") Қазақстан тарихы / История Казахстана
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/5.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/3.jpg)")
          .title: a(href="#") Бірлігіміз жарасқан!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/4.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
  .logo-link.ent
    a(href="#")
      span ЕНТ
      img(src="../images/content/logos/ent.png" alt="")
  .logo-link.games
    a(href="#")
      span ИГРЫ
      img(src="../images/content/logos/games.png" alt="")
  .logo-link
    a(href="#")
      img(src="../images/content/logos/kz-t.png" alt="")
  .sidebar-users
    h2.headling.small Популярные блогеры
    .users-list.top-users
      .user.no-pic-female.online
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/1.png)")
      .user.no-pic-male
        a(href="#")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/3.png)")
      .user.busy.no-pic-male
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/2.png)")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/4.png)")
      .user.busy.no-pic-female
        a(href="#")
      .user.no-pic-female.online
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/1.png)")
      .user.no-pic-male
        a(href="#")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/3.png)")
      .user.busy.no-pic-male
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/2.png)")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/4.png)")
      .user.busy.no-pic-female
        a(href="#")
  .logo-link
    a(href="#")
      img(src="../images/content/logos/e-portals.png" alt="")

  .footer
    .socials
      a(href="#").vk
      a(href="#").facebook
      a(href="#").twitter
      a(href="#").instagram
    .copyright
      a(href="/").footer-logo
      span © АО "Казконтент", 2015




