aside.sidebar
  .sidebar-groups
    .user-profile
      .lead
        .logo(style="background-image: url(../images/content/artist.jpg)")
        .lead-title: a(href="#") Диас
      .socials
        a(href="#").twitter
        a(href="#").instagram
      .rating <span>95</span>
      .info
        .viewed 824
        .comments 12
        .likes 250
        .members 3678
      .join
        a(href="#") Подписаться
    .popular-posts
      h3.headling.red Популярные посты<br/>блогера
      .list
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/1.jpg)")
          .title: a(href="#") Нұрлы жол — болашаққа бастар жол
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/2.jpg)")
          .title: a(href="#") El.kz әлеуметтік желісі тексеру
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/3.jpg)")
          .title: a(href="#") Бірлігіміз жарасқан!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/4.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/5.jpg)")
          .title: a(href="#") Қазақстан тарихы / История Казахстана
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/5.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/3.jpg)")
          .title: a(href="#") Бірлігіміз жарасқан!
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/4.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
  .footer
    .socials
      a(href="#").vk
      a(href="#").facebook
      a(href="#").twitter
      a(href="#").instagram
    .copyright
      a(href="/").footer-logo
      span © АО "Казконтент", 2015




