aside.sidebar
  .friends-filter
    h3.headling.small Добавить друзей
  .friends-filter
    label Город
    .custom-select
      select
        option выберите город
        option город №1
        option город №2
        option город №3
        option город №4
  .friends-filter.half
    label Возраст
    .custom-select
      select
        option от
        option значение №1
        option значение №2
        option значение №3
        option значение №4
    .custom-select
      select
        option до
        option значение №1
        option значение №2
        option значение №3
        option значение №4
  .friends-filter
    label.radio-custom
      input(name="signup_v1[gender]" type="radio" value="male")
      span.icon
      span.text мужской
    label.radio-custom
      input(name="signup_v1[gender]" type="radio" value="female")
      span.icon
      span.text женский
    label.radio-custom
      input(name="signup_v1[gender]" type="radio" value="any")
      span.icon
      span.text любой
  .friends-filter
    a(href="#").apply-filters Поиск
  .footer
    .socials
      a(href="#").vk
      a(href="#").facebook
      a(href="#").twitter
      a(href="#").instagram
    .copyright
      a(href="/").footer-logo
      span © АО "Казконтент", 2015




