aside.sidebar
  .sidebar-groups
    .popular-groups
      h3.headling.yellow Популярные сообщества
      .list
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/1.jpg)")
          .title: a(href="#") Нұрлы жол — болашаққа бастар жол
          .footer <span>2133</span> фанатов
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/2.jpg)")
          .title: a(href="#") El.kz әлеуметтік желісі тексеру
          .footer <span>2009</span> фанатов
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/3.jpg)")
          .title: a(href="#") Бірлігіміз жарасқан!
          .footer <span>1992</span> фанатов
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/4.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
          .footer <span>1230</span> фанатов
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/5.jpg)")
          .title: a(href="#") Қазақстан тарихы / История Казахстана
          .footer <span>1000</span> фанатов
        .item
          .image: a(href="#" style="background-image:url(../images/content/partners/5.jpg)")
          .title: a(href="#") Мәңгілік Ел – менің таңдауым!
          .footer <span>242</span> фанатов
  .logo-link.ent
    a(href="#")
      span ЕНТ
      img(src="../images/content/logos/ent.png" alt="")
  .logo-link.games
    a(href="#")
      span ИГРЫ
      img(src="../images/content/logos/games.png" alt="")
  .logo-link
    a(href="#")
      img(src="../images/content/logos/kz-t.png" alt="")
  .footer
    .socials
      a(href="#").vk
      a(href="#").facebook
      a(href="#").twitter
      a(href="#").instagram
    .copyright
      a(href="/").footer-logo
      span © АО "Казконтент", 2015




