aside.sidebar
  .sidebar-users
    h2.headling.small Пользователи
    form
      span.top.current Лучшие
      input(id="sb-users" class='toggle' type="checkbox")
      span.latest Последние
    .users-list.top-users
      .user.no-pic-female.online
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/1.png)")
      .user.no-pic-male
        a(href="#")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/3.png)")
      .user.busy.no-pic-male
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/2.png)")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/4.png)")
      .user.busy.no-pic-female
        a(href="#")
    .users-list.latest-users
      .user.busy.no-pic-male
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/2.png)")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/4.png)")
      .user.busy.no-pic-female
        a(href="#")
      .user.no-pic-male
        a(href="#")
      .user.online
        a(href="#" style="background-image: url(../images/content/userpics/3.png)")
      .user.no-pic-female.online
        a(href="#")
      .user
        a(href="#" style="background-image: url(../images/content/userpics/1.png)")
  .logo-link.online-courses
    a(href="#")
      span ОНЛАЙН КУРСЫ
      img(src="../images/online-courses.jpg", alt="")
  .users-choose
    h2.headling.small Выбор читателей
    ul
      li
        .date 06.12.2015
        a(href="#").title Әлеумет
        a(href="#").link Қазақ Хандығының 550 жылдығы
      li
        .date 06.12.2015
        a(href="#").title Әлеумет
        a(href="#").link Қазақ Хандығының 550 жылдығы
      li
        .date 06.12.2015
        a(href="#").title Әлеумет
        a(href="#").link Қазақ Хандығының 550 жылдығы
      li
        .date 06.12.2015
        a(href="#").title Әлеумет
        a(href="#").link Қазақ Хандығының 550 жылдығы
      li
        .date 06.12.2015
        a(href="#").title Әлеумет
        a(href="#").link Қазақ Хандығының 550 жылдығы
      li
        .date 06.12.2015
        a(href="#").title Әлеумет
        a(href="#").link Қазақ Хандығының 550 жылдығы
  .logo-link.ent
    a(href="#")
      span ЕНТ
      img(src="../images/content/logos/ent.png" alt="")
  .logo-link.games
    a(href="#")
      span ИГРЫ
      img(src="../images/content/logos/games.png" alt="")
  .logo-link
    a(href="#")
      img(src="../images/content/logos/kz-t.png" alt="")
  .latest-comments
    h2.headling.small Последние комментарии
    .comments-list
      .comment
        .user: a(href="#" style="background-image: url(../images/content/userpics/1.png)")
        a(href="#").user-name Нуржан:
        a(href="#").category Мақала
        a(href="#").message Көйлек көк пен қара түсті ме, әлде ақ пен алтын түсті ме: ғылыми жауап.
      .comment
        .user: a(href="#" style="background-image: url(../images/content/userpics/2.png)")
        a(href="#").user-name Нуржан:
        a(href="#").category Мақала
        a(href="#").message Көйлек көк пен қара түсті ме, әлде ақ пен алтын түсті ме: ғылыми жауап.
      .comment
        .user: a(href="#" style="background-image: url(../images/content/userpics/3.png)")
        a(href="#").user-name Нуржан:
        a(href="#").category Мақала
        a(href="#").message Көйлек көк пен қара түсті ме, әлде ақ пен алтын түсті ме: ғылыми жауап.
      .comment
        .user: a(href="#" style="background-image: url(../images/content/userpics/4.png)")
        a(href="#").user-name Нуржан:
        a(href="#").category Мақала
        a(href="#").message Көйлек көк пен қара түсті ме, әлде ақ пен алтын түсті ме: ғылыми жауап. Көйлек көк пен қара түсті ме, әлде ақ пен алтын түсті ме: ғылыми жауап.
  .logo-link
    a(href="#")
      img(src="../images/content/logos/e-portals.png" alt="")
  .playlist
    h2.headling.small Плейлист
    .search
      form
        input(type="text" placeholder="поиск песни или альбома").inp-text
        input(type="submit" value="").inp-submit
    #mediawrapper
      audio(id="mejs" type="audio/mp3" controls="controls")
        Source(src="../mp3/1.mp3" title="Air Review - Chasing Corporate")
        Source(src="../mp3/2.mp3" title="Air Review - All Because You're Mine")
        Source(src="../mp3/3.mp3" title="Chris - Chasing Cars(Cover)")
        Source(src="../mp3/4.mp3" title="SmallCityLights - New Distance")
        Source(src="../mp3/5.mp3" title="Jamie Ray - I got you")
        Source(src="../mp3/6.mp3" title="Chris - When You're Gone Cover")
  .footer
    .socials
      a(href="#").vk
      a(href="#").facebook
      a(href="#").twitter
      a(href="#").instagram
    .copyright
      a(href="/").footer-logo
      span © АО "Казконтент", 2015




