aside.sidebar
  .popular-images
    h2.headling.small.green Популярные фотоальбомы
    .lead-photos.wr
      .item
        a(href="#")
          .image(style="background-image:url(../images/content/items/1.jpg)")
          .title Құрмаш Махан
        .footer
          .viewed-icon: span 14
          .comments-icon: span 5
          .likes-icon: span 2
      .item
        a(href="#")
          .image(style="background-image:url(../images/content/items/2.jpg)")
          .title Құрмаш Махан
        .footer
          .viewed-icon: span 14
          .comments-icon: span 5
          .likes-icon: span 2
      .item
        a(href="#")
          .image(style="background-image:url(../images/content/items/3.jpg)")
          .title Құрмаш Махан
        .footer
          .viewed-icon: span 14
          .comments-icon: span 5
          .likes-icon: span 2
  .footer
    .socials
      a(href="#").vk
      a(href="#").facebook
      a(href="#").twitter
      a(href="#").instagram
    .copyright
      a(href="/").footer-logo
      span © АО "Казконтент", 2015




