/*========
  Global
=========*/
@import "components/variables.styl"
@import "components/mixins.styl"
@import "components/reset.styl"
@import "components/helpers.styl"

/*========
  Libs
=========*/
@import "libs/magnific-popup.styl"
@import "libs/owl.carousel.styl"
@import "libs/jquery.flipster.styl"
@import "libs/datepicker.styl"


/*========
  Layouts
=========*/
@import "base.styl"
@import "layouts/fixed-nav.styl"
@import "layouts/header.styl"
@import "layouts/sidebar.styl"

/*========
  Elements
=========*/
@import "elements/search.styl"
@import "elements/select.styl"
@import "elements/switchRadio.styl"
/*========
  Pages
=========*/
@import "pages/main.styl"

/*========
  Responsive styles
=========*/
@import "media.styl"

@import "shame.styl"
